
/* Code by piyush thakare */
body{
    padding: 0;
    margin: 0;
    background-image: url(assets/xobg.jpg);
    background-repeat: repeat;
    background-size: 150px;
}
:root{
    --main: #5cc6ffd4;
    --secondary: #32b7ff;
}

/* nav bar */
.head{

    background-image: linear-gradient(#5cc6fff3, #5cc6ff10);
    display: flex;
    position: relative;
    align-items: center;
}

.navigate{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 1.4vw;
}

/* .head ul{
    display: flex;
    margin: 1px;
    padding: 1px;
} */

/* .head ul li{
    list-style: none;
    padding: 12px;
    padding-right: 18px;
} */

.logo img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

/* introduction */
#intro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 8vw;
    text-align: center;
}
#in{ 
    background-color: var(--main);
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 6px;
    box-shadow: inset 0.15em 0.15em 0.15em rgba(29, 131, 179, 0.959),
    inset -0.15em -0.15em 0.15em rgba(29, 131, 179, 0.959),
    0.3rem 0.3rem 1.5rem rgba(29, 131, 179, 0.959),
    -0.3rem 0rem 1.5rem  rgba(29, 131, 179, 0.959);
}


::placeholder{
    text-align: center;
}

.playername{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--secondary);
    background-color: var(--main);
    border-radius: 2.6px;
    height: 25px;
}
#errmsg{
    margin-top: 10px;
    color: red;
    font-size: 15px;
}
#startbtn{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
#startGame{
    background-color: cyan;
    border: 1px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--secondary);
    box-shadow: inset 0.15em 0.15em 0.15em rgba(29, 131, 179, 0.959),
    inset -0.15em -0.15em 0.15em rgba(29, 131, 179, 0.959),
    1.7px 1.7px 0.6rem rgba(29, 131, 179, 0.959),
    1.7px 1.7px 0.6rem  rgba(29, 131, 179, 0.959);
}

/* game */


.gameContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 7vh; 
    position: relative;  
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);   
    grid-template-columns: repeat(3,10vw);   
    margin-right: 20px;
    margin-left: 20px;
    
    
}
.line{
    background-color:black;
    height: 0.3vw;
    width: 0vw;
    position: absolute;
    transition: width 1s cubic-bezier(0.33, 0.01, 0.05, 0.96);
}
.box{
    border: 0.2vw solid rgb(0, 0, 0);
    font-size: 10vw;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Brush Script', cursive;
    cursor: pointer; 
}
.abc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main);
    border-radius: 14px;
    /* border: 2px solid var(--border); */
    box-shadow: inset 0.15em 0.15em 0.15em rgba(29, 131, 179, 0.959),
    inset -0.15em -0.15em 0.15em rgba(29, 131, 179, 0.959),
    0.3rem 0.3rem 1.5rem rgba(29, 131, 179, 0.959),
    -0.3rem 0rem 1.5rem  rgba(29, 131, 179, 0.959);
}

.box:hover{
    background-color: var(--secondary);
}

.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}



.gameInfo{
    padding: 28px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main);
    box-shadow: inset 0.15em 0.15em 0.15em rgba(29, 131, 179, 0.959),
    inset -0.15em -0.15em 0.15em rgba(29, 131, 179, 0.959),
    0.3rem 0.3rem 1.5rem rgba(29, 131, 179, 0.959),
    -0.3rem 0rem 1.5rem  rgba(29, 131, 179, 0.959);
}

.gameInfo {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 14px;
    width: 30vw;
}



#info{
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
}

#reset{
    padding:8px  20px;
    margin: 0px 13px;
    border-radius: 5px;
    background-color: var(--secondary);
    align-self: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    box-shadow: inset 0.15em 0.15em 0.15em rgba(29, 131, 179, 0.959),
    inset -0.15em -0.15em 0.15em rgba(29, 131, 179, 0.959),
    1.7px 1.7px 0.6rem rgba(29, 131, 179, 0.959),
    1.7px 1.7px 0.6rem  rgba(29, 131, 179, 0.959);
}
#reset:hover{
    background-color:#10a9fb ;
}
.btn{
    margin: 3vw;
    align-self: center;
}

#congradulation{
    width: 0px;
    align-self: center;
    height: 200px; 
}
.congrats img{
    align-self: center;
    width: 135px;
    
}
#xogif{
    position: relative;
    left: 1vw;
}


/* for responsive  */
@media   screen and (max-width: 750px) {
    /* .gameContainer{  
        flex-wrap: wrap;
    } */
    /* .abc{
        width: 159%;
        display: flex;
        justify-content: center;
        height: 130%;
        width: 130%;
    } */
    .navigate{
        font-size: 20px;
    }
    .logo img{
        height: 35px;
        width: 35px;
    }

    .gameInfo{
        width: 60%;
    }
    .abc{
        width: 56%;
        flex-direction: row;
        margin-top: 30px;
        padding: 30px;
    }
    
  }